.container{
    top: 0rem;
    width: 100%;
    height: 85vh;
    background: #fff;
    padding-left: 0px;
    overflow: hidden;
}
.content{
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.side-nav{
    width: 16.5rem;
    padding: 20px;
    background-color: #d3ede8;

}

.container #users{
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
    
}

.container .employees{
   margin-left: 15px;
}
.container .project{
    font-size: 16px;
    margin: 50px 50px 10px 20px;
    font-weight: bolder;
    color: #7b7272;
}
.container mat-list mat-list-item i{
    font-size: 20px;
     
}
.container mat-list i{
    color: #046f53;
    margin-top: 33px ;
}
.container mat-list .text{
    color: #323131;
    margin-left: 20px;
}
mat-divider{
    margin-top: 20px;
}
.container .bottom .status{
    font-size: 16px;
    font-weight: bolder;
    margin: 30px 50px 10px 20px;
    color: #7b7272;

} 
.container .bottom mat-list-item i{
    color: #046f53;
    margin-top: 23px ;
    font-size: 20px;
}
.container .bottom .type-text{
    margin-left: 20px;
    color: #323131;
}


.pageContent{
    margin-top: 20px;
}
