/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; outline: none; border: none; text-decoration: none;}
*{
    margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .error-snackbar{
    background-color: red;
    color: #fff;
}
.success-snackbar{
    background-color: green;
    color: #fff;
} */

.mat-mdc-snack-bar-container{
    &.error-snackbar{
        --mdc-snackbar-container-color: rgb(165,19,19);
        --mdc-snackbar-supporting-text-color: #fff

    }
}

.mat-mdc-snack-bar-container{
    &.success-snackbar{
        --mdc-snackbar-container-color: rgb(13, 101, 13);
        --mdc-snackbar-supporting-text-color: #fff

    }
}

